#book-apt-card {
    /*background-color: linear-gradient(to right, red, yellow);*/
    background-color: #2C2F35;
}

/*#display-products-card {*/
/*    box-shadow: 1px 2px 8px black;*/
/*}*/

#cardimgs {
    /*width: 100%;*/
    max-height: 200px;
    min-height: 200px;
    min-width: 100px;
    max-width: 300px;
}

#testing123 {

}

#plzWork {


}

/*::-webkit-scrollbar {*/
/*    width: 16px;*/
/*    border: 5px solid white;*/

/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background-color: blue;*/
/*    background-clip: padding-box;*/
/*    border: 0.05em solid #eeeeee;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background-color: red;*/
/*}*/

/*!* Buttons *!*/
/*::-webkit-scrollbar-button:single-button {*/
/*    background-color: black;*/
/*    display: block;*/
/*    border-style: solid;*/
/*    height: 13px;*/
/*    width: 16px;*/
/*}*/

/*!* Up *!*/
/*::-webkit-scrollbar-button:single-button:horizontal:decrement {*/
/*    border-width: 1px 8px 8px 8px;*/
/*    border-color: yellow;*/
/*}*/

/*::-webkit-scrollbar-button:single-button:vertical:decrement:hover {*/
/*    border-color: red;*/
/*}*/

/*!* Down *!*/
/*::-webkit-scrollbar-button:single-button:vertical:increment {*/
/*    border-width: 8px 8px 0 8px;*/
/*    border-color: #555555 transparent transparent transparent;*/
/*}*/

/*::-webkit-scrollbar-button:vertical:single-button:increment:hover {*/
/*    border-color: #777777 transparent transparent transparent;*/
/*}*/

/*!*#individual-product-card {*!*/
/*!*    width: 100%;*!*/
/*!*}*!*/

/*#individual-cards {*/
/*    !*width: 100%;*!*/
/*}*/